@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    margin-top: 50px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 50px;
    max-width: 980px;
    margin-right: 500px;
}
footer{
  position: fixed;
  height: 50px;
  clear: both;
  background-color: red;
  align-content: space-between;
  max-width: fit-content;

}
.content{
    max-width: 980px;
    margin: auto;
}